.title img{width: 30px; height: 30px; margin-right: 5px;}

#header {
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	background: rgb(0, 150, 136); padding-left: 10px;
	color: white;
}

#header img{width: 30px; height: 30px; margin-right: 5px;}