<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bozpower.mapper.DeviceMapper">
	
	<resultMap id="DeviceResultMap" type="com.bozpower.entity.Device">
	    <id column="id" jdbcType="INTEGER" property="id" />
		<result column="device_name"  jdbcType="VARCHAR" property="deviceName"/>
		<result column="device_id"  jdbcType="VARCHAR" property="deviceId"/>
		<result column="device_state"  jdbcType="INTEGER" property="deviceState"/>
		<result column="remarks"  jdbcType="VARCHAR" property="remarks"/>
	<association property="companyId" javaType="Company">
			<id column="id" property="id" jdbcType="INTEGER"/>
			<result column="company_name" property="companyName" jdbcType="VARCHAR"/>
			<result column="device_number" property="deviceNumber" jdbcType="INTEGER"/>
			<result column="remarks" property="remarks" jdbcType="VARCHAR"/>
		</association>
  </resultMap>
  
  <select id="selectDeviceById" parameterType="java.lang.Integer" resultMap="DeviceResultMap">
  	select 
  		d.id, d.device_name, d.device_id, d.remarks, c.id, c.company_name, c.device_number, c.remarks
  	from 
  		device_tb d, company_tb c
  	where
  		d.company_id = c.id and d.id = #{id}
  </select>
  
  <select id="selectDeviceList"  resultMap="DeviceResultMap">
  	select 
  		d.id, d.device_name, d.device_id, d.remarks, c.id, c.company_name, c.device_number, c.remarks
  	from 
  		device_tb d
  	left join
  		company_tb c
  	on
  		d.company_id = c.id 
  		<if test="limit != 0">
  	limit
  			#{startPage},
  			#{limit}
  		</if>
  </select>
  
  

  
  <select id="selectDeviceByName" parameterType="java.lang.String" resultMap="DeviceResultMap">
  	select 
  		d.id, d.device_name, d.device_id, d.remarks, c.id, c.company_name, c.device_number, c.remarks
  	from 
  		device_tb d
  	left join
  		company_tb c
  	on
  		d.company_id = c.id 
  	where
  		d.device_name = #{deviceName}
  </select>
  
  
  
  <select id="selectDeviceNameByDeviceId" parameterType="java.lang.String" resultMap="DeviceResultMap">
  	select 
  		d.id, d.device_name, d.device_id, d.remarks, c.id, c.company_name, c.device_number, c.remarks
  	from 
  		device_tb d
  	left join
  		company_tb c
  	on
  		d.company_id = c.id 
  	where
  		d.device_id = #{deviceId}
  </select>
  
  <insert id="insertDevice" parameterType="Device">
  	insert into 
  		device_tb(id, device_name, device_id, company_id, remarks)
  	values 
  		(#{id}, #{deviceName}, #{deviceId}, #{companyId.id}, #{remarks})
  </insert>
  
  <update id="updateDevice" parameterType="Device">
  	update device_tb
  		<trim prefix="set" suffixOverrides=",">
  			<if test="deviceName != null">
  				device_name = #{deviceName},
  			</if>
  			<if test="deviceId != null">
  				device_id = #{deviceId},
  			</if>
  			<if test="companyId.id != 0">
  				company_id = #{companyId.id},
  			</if>
  			<if test="remarks != null">
  				remarks = #{remarks},
  			</if>
  		</trim>
  	where 
  		id = #{id}
  </update>
  
  <delete id="deleteDeviceById" parameterType="java.lang.Integer">
  	delete from 
  		device_tb 
  	where 
  		id = #{id}
  </delete>

















</mapper>